<!DOCTYPE html>
<html>
<head>
    <title>Geek's Corner | The GEC e-Library</title>
</head>

<body>
<a href="/home/">Home</a>

{% block nav %}

{% endblock %}

<form action="/books/search/" method="post" class="search">
        {% csrf_token %}
        <input type="text" name="param" class="searchTerm" style="font-size: 20px;"placeholder="Search">
       <input type="submit" class="btn round raised" value="GO">
</form>

{% if user.first_name %}

<p><a href="/users/profile/">Profile</a></p>

<p><a href="/users/logout/">Logout</a></p>

<p>Welcome {{user.first_name}}</p>

{% else %}
<p><a href="/users/register/">Register</a></p>

<p>OR</p>

<p><a href="/users/login/">Login</a></p>
{% endif %}


{% block content %}

{% endblock %}

</body>
</html>
