{% extends base %}

{% block content %}

<div style="margin-top:8%;">
  <div class="row">
        <div class='col-md-2 col-md-offset-1'>
            <a class="thumbnail fancybox" rel="ligthbox" href="">
                <img class="img-responsive" alt="" src="{{book.image_url}}">
            </a>
        </div>
        <div class='col-md-6'>

                    <h3 style="color:#777777;">{{book.name}}</h3>
                    <h5 style="color:#777777;"> By - {{book.author}} </h5>
                    <hr>
                    <h4 class='text'> {{book.description}} </h4>
                    <hr>
										{% if available == True %}
										<h4 class='text' style="color: green"> Available</h4>
										{% else %}
										<h4 class='text' style="color: red"> Not Available</h4>
										{% endif %}
                    <hr>
        </div>

  </div>
</div>


{% endblock %}
