{% extends base %}

{% block content %}


<div class="container">
	<div class="row">
			<div class= 'col-md-8 col-md-offset-2'>
				{% if query2 %}
				<center><h2 style="color:#777777;"> <b>Books for {{query}}, {{query2}} semester</b> </h2></center>
				{% else %}
				<center><h2 style="color:#777777;"> <b>Books for {{query}}</b> </h2></center>
				{% endif %}
				<hr style="width: 100%;">
			</div>
	</div>
</div>



<div class="container">
		<div class='row'>
				{% for book in books_query %}
						<div class="col-md-2">
								<a class="thumbnail fancybox" rel="ligthbox" href="/books/{{book.id}}/">
								    <img class="img-responsive" alt="" src="{{book.image_url}}">
								    <div class='text-center'>
								        <small class='text'>
								         {{book.name}}<br>
												 {{book.author}}
								        </small>
								    </div>
								</a>
						</div>

		{% if forloop.counter|divisibleby:"6" and not forloop.last %}
		</div>
	<hr style="width: 100%;">

	<div class="row">
		{% endif %}
		{% endfor %}
	</div>
	<hr style="width: 100%;">
	
</div>



{% endblock %}
