{% extends base %}

{% block content %}

		<div>
            <div class='col-md-4' style="margin-left: 2.5%;">
                <a class="thumbnail fancybox" rel="ligthbox" href="">
                    <img class="img-responsive" alt="" src="{{book.image_url}}">
                </a>
            </div>
            <div class='col-md-7 '>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                        <h4 class='text'><b>Name - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.name}}</b></h4>
                        <hr>
                        <h4 class='text'> <b>Author - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.author}} </b></h4>
                        <hr>
                        <h4 class='text'> <b>Description - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.description}} </b></h4>
                        <hr>
												{% if available == True %}
                        <h4 class='text' style="color: green"> Available</h4>
												{% else %}
												<h4 class='text' style="color: red"> Not Available</h4>
												{% endif %}
                        <hr>

            </div>
        <div class="col-md-1"></div>
        </div>


{% endblock %}
                    <!-- text-right / end -->
