{% extends base %}

{% block content %}

<div>
        <div class='col-md-4' style="margin-left: 2.5%;">
            <a class="thumbnail fancybox" rel="ligthbox" href="">
                <img class="img-responsive" alt="" src="{{book.image_url}}">
            </a>
        </div>
        <div class='col-md-7 '>

                    <h4 class='text'><b>Name - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.name}}</b></h4>
                    <hr>
                    <h4 class='text'> <b>Author - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.author}} </b></h4>
                    <hr>
                    <h4 class='text'> <b>Description - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.description}} </b></h4>
                    <hr>
                    <h4 class='text'> <b>Total Stock - &nbsp;&nbsp;{{total_stock}}</b></h4>
                    {% if available %}
                    <h4 class='text' style="color: green"> <b>Available Stock - &nbsp;&nbsp;{{available}}</b></h4>
                    {% else %}
                    <h4 class='text' style="color: red"> <b>Currently Not Available</b></h4>
                    {% endif %}
                    <hr>

        </div>
    <div class="col-md-1"></div>
    </div>


<section>
<div class="container">
  <center><h3 style="color:#777777;">Transaction History Of <u>{{book.name}}</u></h3></center>
  <hr>
  <br>
  <div class="table-responsive">
  <table class="table table-bordered table-hover" style="border-width: 2px;border-color: rgb(35, 176, 133);">
    <thead>
      <tr>
        <th style="font-size: 16px;">Book Number</th>
        <th style="font-size: 16px;">Student name</th>
        <th style="font-size: 16px;">Issued On</th>
        <th style="font-size: 16px;">Issue Hash</th>
        <th style="font-size: 16px;">Return Time</th>
        <th style="font-size: 16px;">Return hash</th>
      </tr>
    </thead>
    <tbody>
      </tr>

      {% for tx in book_tx %}
      <tr>
        <td style="font-size: 12px;"><a href="/books/details/{{tx.book.details.id}}/"> {{ tx.book.book_number }} </a></td>
        <td style="font-size: 12px;"><a href="/users/details/{{tx.student.libcard}}/"> {{ tx.student }} </a></td>
        <td style="font-size: 12px;"> {{ tx.issue_time }} </td>
        <td style="font-size: 12px;"><a href="#"> {{ tx.issue_hash }} </a></td>
        {% if tx.return_time == None %}
        <td style="font-size: 12px; color: #ef2d6e;"> <b>Yet To Be Returned</b> </td>
        {% else %}
        <td style="font-size: 12px;"> {{ tx.return_time }} </td>
        {% endif %}
        <td style="font-size: 12px;"><a href="#"> {{ tx.return_hash }} </a></td>
      </tr>
      {% endfor %}
</tbody>
  </table>
  </div>
</div>
</section>


{% endblock %}
