{% extends base %}

{% block content %}

<div>



<!-- Pack 1-->
<div class="col-lg-2">
</div>
<div class="col-lg-8" id="home-box">
  <center><h2 style="color:#777777;">Confirm Return</h2></center>
  <hr style="width: 30%;">


<form action="/books/return/confirm/" method="post">
    {% csrf_token%}


<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Book Name</label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_name" value="" placeholder="{{book.details.name}}">
         </div>
</div>
<hr>

<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Book Author</label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_name" value="" placeholder="{{book.details.author}}">
         </div>
</div>
<hr>

<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Book Number</label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_number" value="{{book.book_number}}" placeholder="{{book.book_number}}">
         </div>
</div>
<hr>

<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Student Name</label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_name" value="" placeholder="{{student.userprofile.user.first_name}} {{student.userprofile.user.last_name}}">
         </div>
</div>
<hr>

<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Student Library Card</label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="libcard" value="{{student.libcard}}" placeholder="{{student.libcard}}">
         </div>
</div>
<hr>


<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Student Roll Number</label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_name" value="" placeholder="{{student.rollno}}">
         </div>
</div>
<hr>

<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Branch </label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_name" value="" placeholder="{{student.department_name}}">
         </div>
</div>
<hr>


<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Semester </label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_name" value="" placeholder="{{student.semester}}">
         </div>
</div>
<hr>

<div class="row">
        <div class="col-md-4 col-md-offset-2">
        <label for="user" class="label" style="color: rgb(35, 176, 133);font-size: 16px;"> Issued On </label>
        </div>
        <div class="col-md-4">
         <input id="user" type="text" class="input" style="font-size: 16px;"  name="book_name" value="" placeholder="{{tx_detail.issue_time}}">
         </div>
</div>
<hr>


<center>

    <input type="submit" class="button" value="Confirm">
</center>

</form>

</div>
{% endblock %}
