{% extends base %}

{% block content %}


<form action="/books/return/" method="post" style="margin-top:100px;">
    {% csrf_token%}
     <div class="container">
               <div class="row">
               </div><br>


                       <!-- Pack 1-->
                       <div class="col-lg-2">
                       </div>
                        <div class="col-lg-8" id="home-box">
                          <center><h2 style="color:#777777;">Return Book</h2></center>
                          <hr style="width: 30%;">
                     <table class="table-responsive">
                     <table class="table" border=1 width=100% bordercolor=black style="border-collapse:collapse; ">
                     <table  class="table table-bordered" style="border:0px;">
						<tr>
							<th style="font-size: 14px;"><center>Book Number</center></th>
        						<td><input type="text" name="book_number" style="width:100%;"></td>
        				</tr>
    							<tr>
    								<th style="font-size: 14px;"><center>Student Library Card Number</center></th>
    									<td><input type="text" name="library_card_num" style="width:100%""></td>
    							</tr>

    </table>

 <center><input type="submit" class="button" value="Go" id="go">
<input type="reset" class="button" value="Cancel" id="go">


<br></center>
<br>

    </div>

 </form>
 </table>
 </table>
{% endblock %}
