{% extends base %}

{% block content %}

{% if results %}

  {% if number %}
    {% for result in results %}
<div class="container">
  <div class="row">
  <center>
    <div class='list-group gallery'>
      {% for book in books_query %}
      <div class="col-md-4"></div>
            <div class='col-md-4' style="margin-left: 2.5%;">
                <a class="thumbnail fancybox" rel="ligthbox" href="">
                    <img class="img-responsive" alt="" src="https://images-na.ssl-images-amazon.com/images/I/51V2KZzUFhL._SX382_BO1,204,203,200_.jpg">
                    <div class='text-center'>
                        <small class='text'>
                          <p><a href="/books/{{result.details.id}}">{{result.details.name}}</a></p>
                        </small>
                    </div> <!-- text-right / end -->
                </a>
          </div>
          <div class="col-md-4"></div>
        {% endfor %}
        </div>
     </center>
    </div>
</div>
    {% endfor %}

  {% else %}
    {% for result in results %}
<div class="container">
  <div class="row">
  <center>
    <div class='list-group gallery'>
      {% for book in books_query %}
      <div class="col-md-4"></div>
            <div class='col-md-4' style="margin-left: 2.5%;">
                <a class="thumbnail fancybox" rel="ligthbox" href="">
                    <img class="img-responsive" alt="" src="https://images-na.ssl-images-amazon.com/images/I/51V2KZzUFhL._SX382_BO1,204,203,200_.jpg">
                    <div class='text-center'>
                        <small class='text'>
                          <p><a href="/books/{{result.id}}">{{result.name}}</a></p>
                        </small>
                    </div> <!-- text-right / end -->
                </a>
          </div>
          <div class="col-md-4"></div>
        {% endfor %}
        </div>
     </center>
    </div>
</div>
    {% endfor %}
  {% endif %}

{% else %}

  <center><h3> No resutl found! </h3></center>

{% endif %}

{% endblock %}



