{% extends base %}

{% block content %}


  {% if books_by_num %}

  <div class="container">
    <div class="row">
      <div class="row">
      <div class= 'col-md-12'>
        <center><h2 style="color:#777777;"> <b>Showing results for "{{query}}"</b> </h2></center>
        <hr style="width: 100%;">
      </div>
    </div>

    <center>
              <div class='row'>
                <div class="col-xs-12">
                  <div class="col-xs-2">
                  <a class="thumbnail fancybox" rel="ligthbox" href="/books/{{books_by_num.details.id}}/">
                      <img class="img-responsive" alt="" src="{{books_by_num.details.image_url}}">
                      <div class='text-center'>
                          <small class='text'>
                           {{books_by_num.details.name}}<br>
                          {{books_by_num.details.author}}
                          </small>
                      </div> <!-- text-right / end -->
                  </a>
                </div>
              </div>
          </div>
       </center>
  </div>
  </div>

  {% elif books_by_name|length > 0 %}

  <div class="container">
    <div class="row">
    <div class= 'col-md-12'>
      <center><h2 style="color:#777777;"> <b>Showing results for "{{query}}"</b> </h2></center>
      <hr style="width: 100%;">
    </div>
  </div>

  		<div class='row'>
  				{% for book in books_by_name %}
  						<div class="col-md-2">
  								<a class="thumbnail fancybox" rel="ligthbox" href="/books/{{book.id}}/">
  								    <img class="img-responsive" alt="" src="{{book.image_url}}">
  								    <div class='text-center'>
  								        <small class='text'>
  								         {{book.name}}<br>
  												 {{book.author}}
  								        </small>
  								    </div>
  								</a>
  						</div>

  		{% if forloop.counter|divisibleby:"6" and not forloop.last %}
  		</div>
  	<hr style="width: 100%;">

  	<div class="row">
  		{% endif %}
  		{% endfor %}
  	</div>
  	<hr style="width: 100%;">
  </div>

  {% else %}
  <div class="row" style="margin-bottom: 10%;">
      <div class= 'col-md-12'>
        <center><h3 style="color: grey;"> No results found for "{{query}}" </h3></center>
      </div>
  </div>
  {% endif %}



{% endblock %}
