{% extends base %}

{% block content %}

<section>
<div class="container">
  <center><h2 style="color:#777777;">Your Book Records</h2></center>
  <hr>
  <br>
  <div class="table-responsive">
  <table class="table table-bordered table-hover" style="border-width: 2px;border-color: rgb(35, 176, 133);">
    <thead>
      <tr>
        <th style="font-size: 16px;">#</th>
        <th style="font-size: 16px;">Book name</th>
        <th style="font-size: 16px;">Issued On</th>
        <th style="font-size: 16px;">Issue Hash</th>
        <th style="font-size: 16px;">Return Time</th>
        <th style="font-size: 16px;">Return hash</th>
      </tr>
    </thead>
    <tbody>
      </tr>

      {% for tx in tx_details %}
      <tr>
        <td style="font-size: 12px;"><a href="/books/{{tx.book.details.id}}/"> {{ tx.book.book_number }} </a></td>
        <td style="font-size: 12px;"><a href="/books/{{tx.book.details.id}}/"> {{ tx.book.details.name }} </a></td>
        <td style="font-size: 12px;"> {{ tx.issue_time }} </td>
        <td style="font-size: 12px;"> {{ tx.issue_hash }} </td>
        <td style="font-size: 12px;"> {{ tx.return_time }} </td>
        <td style="font-size: 12px;"> {{ tx.return_hash }} </td>
      </tr>
      {% endfor %}
</tbody>
  </table>
  </div>
</div>
</section>

{% endblock %}
