{% extends base %}

{% block content %}

<section>
<!--for demo wrap-->
<div class="container">
<div class="table-responsive">          

<table class="table" border=1 width=100% bordercolor=black style="border-collapse:collapse; margin-top:130px;">
<tr>
<th bgcolor=#000055><h4 style="color:white";><center>TRANSACTIONS</center></h4> 
<tr>
<tr>
<td>
<table  class="table table-bordered" style="border:1px;width:90%; margin-left:40px;">
<tr>


<th>BookNumber</th>
<th>BookName</th>
<th>IssuedOn</th>
<th>IssueTxHash</th>
<th>ReturnedOn</th>
<th>ReturnTxHash</th>
</tr>
</td>
</tr>
</td>
</tr>
      {% for tx in tx_details %}
      <tr>
        <td> {{ tx.book.book_number }} </td>
        <td> {{ tx.book.details.name }} </td>
        <td> {{ tx.issue_time }} </td>
        <td> {{ tx.issue_hash }} </td>
        <td> {{ tx.return_time }} </td>
        <td> {{ tx.return_hash }} </td>
      </tr>
      {% endfor %}
  </table>
  </div>
  </div>
</section>


{% endblock %}
