{% extends 'base.html' %}

{% block content %}

<section>
<!--for demo wrap-->
<h1>Transactions</h1>
<div>
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Book Number</th>
        <th>Book Name</th>
        <th>Issued On</th>
        <th>Issue Tx Hash</th>
        <th>Returned On</th>
        <th>Return Tx Hash</th>
      </tr>
    </thead>
  </table>
</div>
<div>
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      {% for tx in tx_details %}
      <tr>
        <td> {{ tx.book.book_number }} </td>
        <td> {{ tx.book.details.name }} </td>
        <td> {{ tx.issue_time }} </td>
        <td> {{ tx.issue_hash }} </td>
        <td> {{ tx.return_time }} </td>
        <td> {{ tx.return_hash }} </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
</section>


{% endblock %}
