{% extends base %}

{% block content %}

<center><h2 style="margin-top: 175px; color:#777777;">Admin Dashboard</h2></center>
<hr style="width: 30%;">



<div class="container" style="margin-bottom: 10px;">

<div class="row">
  <div class="col-md-4">
  <div class="panel panel-default">
    <a href="/books/issue/">
    <div class="panel-body">
    <div class="col-md-4"></div>
    <div class="">
    <center><h4 style="color:#777777;"><b>Issue Books</b></h4>
    </center></div>
    <div class="col-md-4"></div>
    </div></a>

  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href="/books/return/"><div class="panel-body">
    <div class="col-md-4"></div>
    <div class=""><center><h4 style="color:#777777;"><b>Return Books</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>

  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href="/books/add/"><div class="panel-body">
    <div class="col-md-4"></div>
    <div class=""><center><h4 style="color:#777777;"><b>Add Books</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>

  </div>
</div>
</div>

<div class="row" style="margin-top: 50px;">
<div class="col-md-4">
  <div class="panel panel-default">
   <a href=""> <div class="panel-body">
    <div class="col-md-4"></div>
    <div class=""><center><h4 style="color:#777777;"><b>Recent Activities</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>

  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href="/users/details/"><div class="panel-body">
    <div class="col-md-4"></div>
    <div class=""><center><h4 style="color:#777777;"><b>Student Details</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>

  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href="/books/details/"><div class="panel-body">
    <div class="col-md-4"></div>
    <div class=""><center><h4 style="color:#777777;"><b>Find Books</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>

  </div>
</div>

</div>
</div>

{% endblock %}
