{% extends base %}

{% block content %}
<br>
<br>
<br>
<center><h2 style="color:rgb(35, 176, 133);">Dashboard</h2></center>
<hr style="width: 30%;">

<br>
<br>


 
<div class="container">

  <div class="col-md-4">
  <div class="panel panel-default">
    <a href="">
    <div class="panel-body">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <center><h4 style="color:rgb(35, 176, 133);"><b>Issue Books</b></h4>
    </center></div>
    <div class="col-md-4"></div>
    </div></a>
    
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href=""><div class="panel-body">
    <div class="col-md-4"></div>
    <div class="col-md-4"><center><h4 style="color:rgb(35, 176, 133);"><b>Return Books</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>
    
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href=""><div class="panel-body">
    <div class="col-md-4"></div>
    <div class="col-md-4"><center><h4 style="color:rgb(35, 176, 133);"><b>Add Books</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>
    
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-md-4">
  <div class="panel panel-default">
   <a href=""> <div class="panel-body">
    <div class="col-md-4"></div>
    <div class="col-md-4"><center><h4 style="color:rgb(35, 176, 133);"><b>Recent Activities</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>
    
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href=""><div class="panel-body">
    <div class="col-md-4"></div>
    <div class="col-md-4"><center><h4 style="color:rgb(35, 176, 133);"><b>Student Details</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>
    
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <a href=""><div class="panel-body">
    <div class="col-md-4"></div>
    <div class="col-md-4"><center><h4 style="color:rgb(35, 176, 133);"><b>Find Books</b></h4></center></div>
    <div class="col-md-4"></div>
    </div></a>
    
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
</div>

{% endblock %}
