 {% extends base %}

 {% block content %}

{% if profile == 'student' %}

<div>
<div class="container">
               <div class="row">
               </div><br>


                       <!-- Pack 1-->
                       <div class="col-lg-2">
                       </div>
                        <div class="col-lg-8" id="home-box">
                            <center>
                            <div class="pricing_header">
                                <h2>User Credentials</h2>
                                <div class="space"></div>
                     </div>
                     </center>
                        <div class="col-lg-2">
                       </div>
                     <ul class="list-group">
			            <li class="list-group-item">

         <form action="/users/edit/" method="post">
         {% csrf_token %}
         <div class="form-group">
         <center><label for="user" class="label" style="color: rgb(35, 176, 133);"> Branch </label></center>
         <center><select class="form-input" name="branch">
            <option value="" selected>
               {{student.department_name.name}}
            </option>
            {% for dep in departments %}
            <option value="{{dep}}">
               {{dep}}
            </option>
            {% endfor %}
            </center>
          </select>
         <!--<input id="user" type="text" class="input" name="branch" placeholder={{student.department_name.name}}>-->
         </div>
         </li>

         <li class="list-group-item">
         <div class="form-group">
         <center><label for="user" class="label" style="color: rgb(35, 176, 133);">Semester</label></center>
         <center><select class="input" name="semester">
            <option value="" selected>
               {{student.semester.semester}}
            </option>
            <option value="1">
               1st SEMESTER
            </option>
            <option value="2">
               2nd SEMESTER
            </option>
            <option value="3">
               3rd SEMESTER
            </option>
            <option value="4">
               4th SEMESTER
            </option>
            <option value="5">
               5th SEMESTER
            </option>
            <option value="6">
               6th SEMESTER
            </option>
            <option value="7">
               7th SEMESTER
            </option>
            <option value="8">
               8th SEMESTER
            </option>
          </center>
          </select>
         <!--<input id="user" type="text" class="input" name="semester" placeholder={{student.semester.semester}}>-->
         </div>
         </li>
         <li class="list-group-item">

         <div class="form-group">
         <center><label for="user" class="label" style="color: rgb(35, 176, 133);">Library Card Number</label></center>
         <center><input id="user" type="text" class="input" name="libcard" placeholder={{student.libcard}}></center>
         </div>
         <hr>
         <div class="form-group">
         <center><label for="user" class="label" style="color: rgb(35, 176, 133);">Phone</label></center>
         <center><input id="user" type="text" class="input" name="phone" placeholder={{student.userprofile.phone}}></center>
         </div>
         <hr>
         <div class="form-group">
         			<center><input type="submit" class="button" value="Save"></center>
         </div>
         </li>
			</form>
</div>

{% elif profile == 'staff' %}
<div>
         <li class="list-group-item">
			<form action="/users/edit/" method="post">
         {% csrf_token %}

         <label for="user" class="label" style="color: rgb(35, 176, 133);">Name</label>
         <input id="user" type="text" class="input" name="name" placeholder={{staff.userprofile.user.first_name}}>

         <label for="user" class="label" style="color: rgb(35, 176, 133);">Phone</label>
         <input id="user" type="text" class="input" name="phone" placeholder={{staff.userprofile.phone}}>

         <label for="user" class="label" style="color: rgb(35, 176, 133);">Email</label>
         <input id="user" type="text" class="input" name="email" placeholder={{staff.userprofile.user.email}}>
         </li>

         <div class="form-group">
         <center><input type="submit" class="button" value="Save"></center>
         </div>

      </form>
</div>
</ul>

{% endif %}
{% endblock %}
