{% extends base %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Log in with your Roll Number</h1>
                    <form role="form" action="/users/login/" method="post" id="login-form" autocomplete="off">
    {% csrf_token%}
<div class="form-group">
                            <label for="email" class="sr-only" style="color: red;">Roll No</label>
                            <input type="text" name="rollno" id="pass" class="form-control" placeholder="316XXXXXXXX">
                        </div>
                        <div class="form-group">
                            <label for="pass" class="sr-only">Password</label>
                            <input type="password" name="password" id="pass" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Show password</span>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>
                    <a href="" class="forget">Forgot your password?</a><a href="/users/register/" class="forget">Sign-up</a>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

{% endblock %}
