{% extends base %}

{% block content %}

{% if profile == 'student' %}

<div class="container">
    				<div class="row">
					</div><br>


                       <!-- Pack 1-->
                       <div class="col-md-4">
                       </div>
                        <div class="col-md-4" id="home-box">
                            <center>
                            <div class="pricing_header">
                                <h2>User Credentials</h2>
                                <div class="space"></div>
    						</div>
    						</center>
                                <ul class="list-group">

                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-user"></i> Name - {{user.first_name}} {{user.last_name}}</li>
                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-info-sign"></i> Roll Number - {{user.username}} </li>
                            <li class="list-group-item" style="font-size:14px; " ><i class="glyphicon glyphicon-envelope"></i> Email - {{user.email}} </li>

		{% if student %}
		                    <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-bold"></i> Branch - {{student.department_name.name}} </li>
                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-flag"></i> Semester - {{student.semester.semester}} Semester </li>
                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-pencil"></i> Library Card Number - {{student.libcard}} </li>
                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-phone"></i> Phone - {{student.userprofile.phone}} </li>
                            <div class="col-md-4">
</div>
<div class="col-md-4">
    <p><a class="btn btn-default" style="background-color: rgb(35, 176, 133); color: white;" href="/users/edit/">Edit Profile</a> </p>
</div>
		{% else %}
		{% endif %}

{% elif profile == 'staff' %}
<br>
<br>
<br>
<div class="container">
                    <div class="row">
                    </div><br>


                       <!-- Pack 1-->
                       <div class="col-md-4">
                       </div>
                        <div class="col-md-4" id="home-box">
                            <center>
                            <div class="pricing_header">
                                <h2>User Credentials</h2>
                                <div class="space"></div>
                            </div>
                            </center>
                             
                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-user"></i> Name - {{user.first_name}} {{user.last_name}} </li>
                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-envelope"></i> Email - {{user.email}} </li>
                            <li class="list-group-item" style="font-size:14px; "><i class="glyphicon glyphicon-phone"></i> Phone - {{student.userprofile.phone}} </li>
<div class="col-md-4">
</div>
<div class="col-md-4">
    <p><a class="btn btn-default" style="background-color: rgb(35, 176, 133); color: white;" href="/users/edit/">Edit Profile</a> </p>
</div>

</ul>
                        </div>
                        <div class="col-md-4">
                       </div>
{% endif %}

<br>

</div>
</div>
</div>

{% endblock %}
