{% extends base %}

{% block content %}

<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                <h1>Please fill you Details </h1>
                    <form role="form" action="/users/register/" method="post" id="login-form" autocomplete="off">
    {% csrf_token%}

<div class="form-group">
    <label for="name" class="sr-only">First Name</label>
    <input id="user" type="text" class="form-control" name="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
    <label for="user" class="sr-only">Last Name</label>
    <input id="user" type="text" class="form-control" name="last_name" placeholder="Last Name">
    </div>
    <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input id="pass" type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
    <label for="email" class="sr-only">Roll Number</label>
    <input id="pass" type="text" class="form-control" name="rollno" placeholder="Roll Number">
    </div>
    <div class="form-group">
    <label for="pass" class="sr-only">Password</label>
    <input id="pass" type="password" class="form-control" data-type="password" name="password1" placeholder="Password">
    </div>
    <div class="form-group">
    <label for="pass" class="sr-only">Repeat Password</label>
    <input id="pass" type="password" class="form-control" data-type="password" name="password2" placeholder="Confirm Password">
</div>
<div class="group">
			<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Register">


</div>

</form>
<a href="/users/login/" class="forget" >Already a user? Sign-in.</a>

{% endblock %}
