{% extends base %}

{% block content %}

<section id="login" style="margin-top: -5%;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                <h1>Start your journey of amazing e-library experience</h1>
                    <form role="form" action="/users/register/" method="post" id="login-form" autocomplete="off">
    {% csrf_token%}

<div class="form-group">
    <label>First Name</label>
    <input id="user" type="text" class="form-control" name="first_name" placeholder="First Name">
    </div>
    <div class="form-group">
    <label>Last Name</label>
    <input id="user" type="text" class="form-control" name="last_name" placeholder="Last Name">
    </div>
    <div class="form-group">
    <label>Email</label>
    <input id="pass" type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
    <label>Roll Number</label>
    <input id="pass" type="text" class="form-control" name="rollno" placeholder="316XXXXXXXX">
    </div>
    <div class="form-group">
    <label>Password</label>
    <input id="pass" type="password" class="form-control" data-type="password" name="password1" placeholder="********">
    </div>
    <div class="form-group">
    <label>Repeat Password</label>
    <input id="pass" type="password" class="form-control" data-type="password" name="password2" placeholder="********">
</div>
<div class="group">
			<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Register">


</div>

</form>
<a href="/users/login/" class="forget" >Already a user? Sign-in.</a>

{% endblock %}
